[submodule "rust/rustcomp"]
	path = rust/rustcomp
	url = git@github.com:dablenparty/rustcomp.git
	branch = main
[submodule "rust/cons-rs"]
	path = rust/cons-rs
	url = git@github.com:dablenparty/cons-rs.git
	branch = main
[submodule "rust/proc-macro-playground"]
	path = rust/proc-macro-playground
	url = git@github.com:dablenparty/proc-macro-playground.git
	branch = main
[submodule "rust/mapstruct"]
	path = rust/mapstruct
	url = git@github.com:dablenparty/mapstruct.git
	branch = main
[submodule "rust/rustini"]
	path = rust/rustini
	url = git@github.com:dablenparty/rustini.git
	branch = main
[submodule "rust/prime-sieves"]
	path = rust/prime-sieves
	url = git@github.com:dablenparty/prime-sieves.git
	branch = main
